<%
  page_data(
    title: "Add an Extension to an ECT's induction",
    caption: Teachers::Name.new(@teacher).full_name,
    caption_size: 'm',
    backlink_href: ab_teacher_extensions_path(@teacher)
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="govuk-body">
      The ECT's performance must be assessed by the school induction tutor or Headteacher
      before extending an induction. Based on their recommendation, the appropriate body
      can decide whether to extend it.
    </p>

    <p class="govuk-body">
      An ECT may appeal an extension to their induction. You must advise the ECT of their right to appeal and provide them with information about who to appeal to, and the time limit for doing so. More information can be found here
    </p>

    <p class="govuk-body">
      ECTs can appeal induction extensions. You must advise the ECT of their right to appeal and <%= govuk_link_to('explain the appeal process', 'https://www.gov.uk/government/publications/induction-appeals-procedures', new_tab: true) %>.
    </p>

    <p class="govuk-body">
      You don't need to record extensions for:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>maternity leave</li>
      <li>statutory paternity leave</li>
      <li>statutory adoption leave</li>
      <li>shared parental leave</li>
      <li>parental bereavement leave</li>
      <li>carer’s leave</li>
    </ul>

    <%= form_with(
      model: @extension,
      url: ab_teacher_extensions_path(@teacher),
      local: true
    ) do |f| %>
      <%= content_for(:error_summary) { f.govuk_error_summary } %>

      <%= f.govuk_text_field(
        :number_of_terms,
        label: { text: "How many additional terms of induction do you need to add to #{Teachers::Name.new(@teacher).full_name}'s induction?", size: "m" },
        width: 5,
        hint: { text: "For example, 1.5 for one and a half terms" },
        suffix_text: "FTE terms"
      ) %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div
