<% page_data(title: "Appropriate bodies") %>
<%= govuk_button_link_to("Add an appropriate body", "#") %>

<div class="search-box">
  <%= form_with method: :get, class: "search-box__form" do |f| %>
    <div class="search-box__input">
      <%= f.govuk_text_field(
            "q",
            value: params[:q],
            label: { text: "Search for an appropriate body", size: "s" },
            hint: { text: "Search for an appropriate body by name" },
          )
      %>
    </div>

    <%= f.govuk_submit "Search" %>
  <% end %>
</div>

<div>
  <%= govuk_summary_list do |summary_list|
    @appropriate_bodies.each do |appropriate_body|
      summary_list.with_row do |row|
        row.with_value do
          tag.div do
            govuk_link_to(appropriate_body.name, "#", class: "govuk-heading-s govuk-!-margin-bottom-0") +
            content_tag(:p, "Users: #{appropriate_body.users.count}", class: "govuk-!-margin-bottom-0") +
            # FIXME: retrieve this from appropriate_body
            if [true, false, false].sample
              govuk_tag(text: "Deleted", colour: "red", classes: "govuk-!-margin-bottom-1 govuk-!-margin-top-1")
            end
          end
        end
      end
    end
  end %>

  <%= govuk_pagination(pagy: @pagy) %>
</div>
