<div class="govuk-body govuk-!-font-size-14 migration-period">
  <div class="migration-period-title">
    Training period<span class="migration-object-id">(<%= training_period.id %>)</span>
  </div>
  <div class="migration-period-body">
    <%= lead_provider_name %></br>
    <%= delivery_partner_name %></br>
    <%= training_period.started_on %> - <%= training_period.finished_on || "" %>
  </div>
</div>
