<% page_data(title: "Early career teachers") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= form_with method: :get, data: { turbo: false } do |f| %>

      <%= f.govuk_text_field(
            "q",
            value: params[:q],
            label: { text: "Search by name or TRN", size: "s" },
          )
      %>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Filter by appropriate body
          </legend>

          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <% @appropriate_bodies.each do |ab| %>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag "appropriate_body_ids[]",
                    ab.id,
                    params[:appropriate_body_ids]&.include?(ab.id.to_s),
                    class: "govuk-checkboxes__input"
                %>
                <%= label_tag "appropriate_body_ids_#{ab.id}", ab.name, class: "govuk-label govuk-checkboxes__label" %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <%= f.govuk_submit "Apply filters" %>
        <button type="reset" class="govuk-button govuk-button--secondary">Reset</button>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list">
      <% @teachers.each do |teacher| %>
        <li class="govuk-!-margin-bottom-4">
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title"><%= teacher.first_name %> <%= teacher.last_name %></h2>
              <div class="govuk-summary-card__actions">
                <%= link_to "View", admin_teacher_path(teacher), class: "govuk-link" %>
              </div>
            </div>

            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">TRN</dt>
                  <dd class="govuk-summary-list__value"><%= teacher.trn %></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Appropriate body</dt>
                  <dd class="govuk-summary-list__value">
                    <% current_period = teacher.induction_periods.last %>
                    <%= current_period&.appropriate_body&.name || "Not assigned" %>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Status</dt>
                  <dd class="govuk-summary-list__value">
                    <% status = teacher.induction_periods.any? ? "in_progress" : "not_started" %>
                    <strong class="govuk-tag govuk-tag--<%= status == 'in_progress' ? 'blue' : 'grey' %>">
                      <%= status.humanize %>
                    </strong>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <%= govuk_pagination pagy: @pagy %>
  </div>
</div>
