<% page_data(title: "Check mentor details", backlink_href: schools_register_mentor_wizard_find_mentor_path) %>

<p>There is a teacher record that matches the details you have provided.</p>

<%= govuk_summary_list do |summary_list|
  summary_list.with_row do |row|
    row.with_key(text: 'Name')
    row.with_value(text: @mentor.full_name)
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Teacher Reference Number (TRN)')
    row.with_value(text: @mentor.trn)
  end

  if @mentor.matches_trs_dob?
    summary_list.with_row do |row|
      row.with_key(text: 'Date of birth')
      row.with_value(text: @mentor.govuk_date_of_birth)
    end
  else
    summary_list.with_row do |row|
      row.with_key(text: 'National insurance number')
      row.with_value(text: @mentor.national_insurance_number)
    end
  end
end %>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_submit "Confirm and continue" %>
<% end %>

<div class="govuk-inset-text">
  If this is not the person you intended to register as a mentor, go back
  and <%= govuk_link_to("check details", schools_register_mentor_wizard_find_mentor_path) %>.
</div>
