<% page_data(
  title: "Check details for #{@pending_induction_submission.first_name} #{@pending_induction_submission.last_name}",
  header: "Check #{@pending_induction_submission.first_name} #{@pending_induction_submission.last_name}'s details",
  error: @pending_induction_submission.errors.present?)
%>

<%= form_with(model: @pending_induction_submission, url: ab_claim_an_ect_check_path(@pending_induction_submission, method: 'patch')) do |f| %>
  <%= f.govuk_error_summary %>

  <%=
    govuk_summary_list do |sl|
      sl.with_row do |r|
        r.with_key(text: "First name")
        r.with_value(text: @pending_induction_submission.first_name)
      end

      sl.with_row do |r|
        r.with_key(text: "Last name")
        r.with_value(text: @pending_induction_submission.last_name)
      end

      sl.with_row do |r|
        r.with_key(text: "Date of birth")
        r.with_value(text: @pending_induction_submission.date_of_birth.to_fs(:govuk))
      end

      sl.with_row do |r|
        r.with_key(text: "Email address")
        r.with_value(text: @pending_induction_submission.email_address)
      end

      sl.with_row do |r|
        r.with_key(text: "QTS awarded")
        r.with_value(text: @pending_induction_submission.qts_awarded)
      end

      sl.with_row do |r|
        r.with_key(text: "QTS status description")
        r.with_value(text: @pending_induction_submission.qts_status_description)
      end

      sl.with_row do |r|
        r.with_key(text: "Induction start date")
        r.with_value(text: @pending_induction_submission.induction_start_date)
      end

      sl.with_row do |r|
        r.with_key(text: "Induction status")
        r.with_value(text: @pending_induction_submission.induction_status)
      end

      sl.with_row do |r|
        r.with_key(text: "Initial teacher training provider")
        r.with_value(text: @pending_induction_submission.initial_teacher_training_provider_name)
      end

      sl.with_row do |r|
        r.with_key(text: "Initial teacher training end date")
        r.with_value(text: @pending_induction_submission.initial_teacher_training_end_date)
      end

      sl.with_row do |r|
        r.with_key(text: "Has alerts")
        r.with_value(text: @pending_induction_submission.alerts.present? ? "Yes" : "No")
      end
    end
  %>

  <%= f.govuk_check_boxes_fieldset(:confirmed, legend: { text: "Is the above data correct?" }) do %>
    <%=
      f.govuk_check_box :confirmed,
        1,
        0,
        multiple: false,
        link_errors: true,
        label: { text: "I have checked the information above and it looks accurate" }
    %>
  <% end %>

  <div class="govuk-button-group">
    <%= f.govuk_submit %>
    <%= govuk_button_link_to("Start again", "#", secondary: true) %>
  </div>
<% end %>
