<% page_data(title: "Schools") %>

<%= form_with method: :get do |f| %>
  <%= f.govuk_text_field(
      "q",
      value: @q,
      label: { text: "Search for school", size: "s" },
      hint: { text: "Name, URN or postcode" },
    )
  %>

  <%= f.govuk_submit "Search" %>
<% end %>

<p class="govuk-body"><strong><%= @pagy.count %></strong> schools found</p>

<%=
  govuk_table do |table|
    table.with_head do |head|
      head.with_row do |row|
        row.with_cell(text: "Name")
        row.with_cell(text: "URN")
        row.with_cell(text: "Postcode")
      end
    end

    table.with_body do |body|
      @schools.each do |school|
        body.with_row do |row|
          row.with_cell do
            govuk_link_to(school.name, admin_school_path(school, page: @page, q: @q))
          end
          row.with_cell(text: school.urn)
          row.with_cell(text: school.postcode)
        end
      end
    end
  end
%>

<%= govuk_pagination pagy: @pagy %>
