<% page_data(title: @appropriate_body.name, error: false) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_button_link_to("Claim an ECT", new_ab_claim_an_ect_find_path) %>
    <hr class="govuk-section-break--l">
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= form_with method: :get do |f| %>
      <%= f.govuk_text_field(
            "q",
            value: params[:q],
            label: { text: "Search your ECTs", size: "s" },
            hint: { text: "Search by name or TRN" },
          )
      %>

      <div class="govuk-button-group">
        <%= f.govuk_submit("Search") %>
        <button type="reset" class="govuk-button govuk-button--secondary">Reset</button>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list">
      <% @teachers.all.each do |teacher| %>
        <%= summary_card_for_teacher(teacher) %>
      <% end %>
    </ul>
  </div>
</div>
