<%
  page_data(
    title: Teachers::Name.new(@teacher).full_name,
    caption: "TRN: #{@teacher.trn}",
    caption_size: 'm',
    error: false,
    backlink_href: ab_teachers_path
  )
%>

<div class="govuk-button-group">
  <%= govuk_button_link_to("Release ECT", new_ab_teacher_release_ect_path(@teacher), secondary: true) %>
  <%= govuk_button_link_to("Record passed outcome", new_ab_teacher_record_passed_outcome_path(@teacher), secondary: true) %>
  <%= govuk_button_link_to("Record failed outcome", new_ab_teacher_record_failed_outcome_path(@teacher), secondary: true) %>
</div>

<% if @teacher.induction_periods.any? %>
  <h2 class="govuk-heading-m">Induction Summary</h2>
  <%= govuk_summary_list do |sl| %>
    <% sl.with_row do |row| %>
      <% row.with_key do %>
        <%= govuk_visually_hidden('Induction') %> Start date
      <% end %>

      <% row.with_value(text: @teacher.induction_periods.last.started_on.to_fs(:govuk)) %>
    <% end %>

    <% sl.with_row do |row| %>
      <% if @teacher.induction_extensions.any? %>
        <% row.with_key do %>
          <%= govuk_visually_hidden('Induction') %> Extended by
        <% end %>

        <% row.with_value do %>
          <%= Teachers::InductionExtensions.new(@teacher).formatted_number_of_terms %>
        <% end %>

        <%= row.with_action(text: "View", visually_hidden_text: "extensions", href: ab_teacher_extensions_path(@teacher)) %>
        <%= row.with_action(text: "Add", visually_hidden_text: "an extension", href: "#") %>
      <% else %>
        <% row.with_key do %>
          <%= govuk_visually_hidden('Induction') %> Extended
        <% end %>

        <% row.with_value(text: "No") %>

        <%= row.with_action(text: "Add", visually_hidden_text: "an extension", href: "#") %>
      <% end %>
    <% end %>
  <% end %>

  <h2 class="govuk-heading-m">Induction periods</h2>

  <% @teacher.induction_periods.each.with_index(1).reverse_each do |induction_period, i| %>
    <%=
      govuk_summary_list(card: { title: "Induction period #{i}", actions: [govuk_link_to("Edit", "#")] }) do |sl|
        sl.with_row do |row|
          row.with_key(text: "Appropriate body")
          row.with_value(text: induction_period.appropriate_body.name)
        end

        sl.with_row do |row|
          row.with_key(text: "Induction programme")
          row.with_value(text: induction_programme_choice_name(induction_period.induction_programme))
        end

        if induction_period.number_of_terms.present?
          sl.with_row do |row|
            row.with_key(text: "Number of terms")
            row.with_value(text: induction_period.number_of_terms)
          end
        end

        sl.with_row do |row|
          row.with_key(text: "Start date")
          row.with_value(text: induction_period.started_on.to_fs(:govuk))
        end

        if induction_period.finished_on.present?
          sl.with_row do |row|
            row.with_key(text: "End date")
            row.with_value(text: induction_period.finished_on.to_fs(:govuk))
          end
        end
      end
    %>
  <% end %>
<% end %>
