<% page_data(title: "Find a mentor", error: @wizard.current_step.errors.present?, backlink_href: schools_register_mentor_start_path) %>

<p class="govuk-body">Enter the mentor's teacher reference number and date of birth to find them.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_number_field(
        :trn,
        label: { text: "Teacher reference number (TRN)", size: "m" },
        hint: { text: "This unique ID is usually 7 digits long, for example 4567814. It may also include letters or a slash, for example RP99/12345. It can be found on their payslip, teaching contract or registration document from the GTCE.", size: "s" },
      )
  %>

  <%= f.govuk_date_field :date_of_birth,
                         date_of_birth: true,
                         width: "two-thirds",
                         legend: { text: 'Date of birth', size: "m", tag: "h3" },
                         hint: { text: "For example, 31 3 1980" }
  %>

  <%= f.govuk_submit "Continue" %>
<% end %>

<%= render TestGuidanceComponent.new do |component| %>
  <% component.with_trs_example_teacher_details %>
<% end %>
