<% page_data(title: "Select a persona") %>

<div class="govuk-width-container">
  <% @personas.each_with_index do |persona, i| %>

    <% if i > 0 %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <% end %>

    <div class="govuk-grid-row">
      <% if Rails.application.config.enable_persona_avatars %>
        <div class="govuk-grid-column-one-third app-persona-image">
          <%= image_tag(persona.image, height: '150px', alt: persona.alt) %>
        </div>
      <% end %>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          <%= persona.name %>
          (<%= persona.email %>)
        </h2>
        <div>
          <h3 class="govuk-heading-s"><%= persona.type %></h3>
        </div>
        <div>
          <%= tag.p(persona_organisation(persona)) %>
        </div>

        <%= form_with url: "/auth/developer/callback" do |f| %>
          <%= hidden_field_tag "email", persona.email %>
          <%= hidden_field_tag "name", persona.name %>
          <%= hidden_field_tag "appropriate_body_id", persona.appropriate_body_id %>
          <%= hidden_field_tag "school_urn", persona.school_urn %>
          <%= hidden_field_tag "dfe", persona.dfe_staff %>
          <%= f.submit "Sign-in as #{persona.name}", class: "govuk-button govuk-!-margin-bottom-2" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
