<% page_data(title: "Select a persona") %>

<div class="govuk-width-container">
  <% @personas.each_with_index do |persona, i| %>

    <% if i > 0 %>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <% end %>

    <div class="govuk-grid-row">
      <% if Rails.application.config.enable_persona_avatars %>
        <div class="govuk-grid-column-one-third app-persona-image">
          <%= persona_image(persona.name) %>
        </div>
      <% end %>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          <%= persona_name(persona) %>
          (<%= persona.email %>)
        </h2>
        <div>
          <h3 class="govuk-heading-s"><%= persona_user_type(persona) %></h3>
        </div>
        <div>
          <%= tag.p(persona_organisation(persona)) %>
        </div>

        <%= form_with url: "/auth/developer/callback" do |f| %>
          <%= hidden_field_tag "email", persona.email %>
          <%= hidden_field_tag "name", persona.name %>
          <%= hidden_field_tag "appropriate_body_id", appropriate_body_id_from_user_name(persona.name) %>
          <%= hidden_field_tag "school_urn", school_urn_from_persona(persona) %>
          <%= f.submit "Sign-in as #{persona_name(persona)}", class: "govuk-button govuk-!-margin-bottom-2" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
