<% full_name = [@teacher.first_name, @teacher.last_name].join(" ") %>
<% ect = @teacher.ect_at_school_periods.any? %>
<% mentor = @teacher.mentor_at_school_periods.any? %>

<% page_data(title: full_name, backlink_href: teachers_path(page: @page)) %>

<table class="govuk-table">
  <thead>
    <tr>
      <th colspan="2">User</th>
      <th colspan="2">Teacher</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td>id</td>
      <td><%= @user.id %></td>
      <td>id</td>
      <td><%= @teacher.id %></td>
    </tr>
    <tr>
      <td>full_name</td>
      <td><%= @user.full_name %></td>
      <td>first_name/last_name</td>
      <td><%= [@teacher.first_name, @teacher.last_name].join(" ") %></td>
    </tr>
  </tbody>
</table>
<table class="govuk-table">
  <thead>
    <tr>
      <th colspan="2">Induction Records</th>
      <th colspan="2">ECT at school periods</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td>id</td>
      <td><%= @user.id %></td>
      <td>id</td>
      <td><%= @teacher.id %></td>
    </tr>
    <tr>
      <td>full_name</td>
      <td><%= @user.full_name %></td>
      <td>first_name/last_name</td>
      <td><%= [@teacher.first_name, @teacher.last_name].join(" ") %></td>
    </tr>
  </tbody>
</table>


<% @teacher.ect_at_school_periods.order(:started_on).each do |period| %>
  <%= govuk_summary_card(title: "ECT period") do |card|
      card.with_summary_list do |list|
        list.with_row do |row|
          row.with_key(text: "School name")
          row.with_value(text: period.school.gias_school.name)
        end
        list.with_row do |row|
          row.with_key(text: "School URN")
          row.with_value(text: period.school.urn)
        end
        list.with_row do |row|
          row.with_key(text: "From")
          row.with_value(text: period.started_on)
        end
        list.with_row do |row|
          row.with_key(text: "To")
          row.with_value(text: period.finished_on || "present")
        end
      end
    end %>
<% end %>

<% @teacher.mentor_at_school_periods.order(:started_on).each do |period| %>
  <%= govuk_summary_card(title: "Mentor period") do |card|
      card.with_summary_list do |list|
        list.with_row do |row|
          row.with_key(text: "School name")
          row.with_value(text: period.school.gias_school.name)
        end
        list.with_row do |row|
          row.with_key(text: "School URN")
          row.with_value(text: period.school.urn)
        end
        list.with_row do |row|
          row.with_key(text: "From")
          row.with_value(text: period.started_on)
        end
        list.with_row do |row|
          row.with_key(text: "To")
          row.with_value(text: period.finished_on || "present")
        end
      end
    end %>
<% end %>
