<% page_data(title: "Find an early career teacher's record", error: @pending_induction_submission.errors.present?) %>

<div class="govuk-body">
  Find your ECT by entering their teacher reference number (TRN) and date of birth. If you can't find them, <%= govuk_link_to("contact support", support_path)%>.
</div>

<%= form_with(model: @pending_induction_submission, url: ab_claim_an_ect_find_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%=
    f.govuk_text_field(
      :trn,
      width: 10,
      label: { text: "Teacher Reference Number (TRN)", size: "m" }
    )
  %>

  <%=
    f.govuk_date_field(
      :date_of_birth,
      legend: { text: "Date of birth" }
    )
  %>

  <%= f.govuk_submit %>
<% end %>

<%= render TestGuidanceComponent.new do |component| %>
  <% component.with_trs_example_teacher_details %>

  <h2 class="govuk-heading-m">Error preview</h2>

  <% if PendingInductionSubmission.last.present? %>
    <%=
      govuk_list([
        govuk_link_to('Exempt from completing induction', ab_claim_an_ect_errors_exempt_path(PendingInductionSubmission.last), no_visited_state: true),
        govuk_link_to('Induction already completed', ab_claim_an_ect_errors_already_complete_path(PendingInductionSubmission.last), no_visited_state: true),
        govuk_link_to('Induction with another appropriate body', ab_claim_an_ect_errors_another_ab_path(PendingInductionSubmission.last), no_visited_state: true),
        govuk_link_to('No QTS', ab_claim_an_ect_errors_no_qts_path(PendingInductionSubmission.last), no_visited_state: true),
        govuk_link_to('Prohibited from teaching', ab_claim_an_ect_errors_prohibited_path(PendingInductionSubmission.last), no_visited_state: true),
      ])
    %>
  <% end %>
<% end %>
