<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body">
    <%= render partial: "layouts/shared/js_enabled" %>

    <%= govuk_skip_link %>
    <%= govuk_header(full_width_border: true, html_attributes: { class: [environment_specific_header_colour_class] }) %>

    <%= render Navigation::PrimaryNavigationComponent.new(
      current_path: request.fullpath,
      is_authenticated: authenticated?
    ) %>

    <div class="govuk-width-container">
      <%= environment_specific_phase_banner %>
      <%= yield(:backlink_or_breadcrumb) %>

      <% if flash[:notice] %>
        <%= govuk_notification_banner(title_text: "Important", text: flash[:notice]) %>
      <% end %>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= yield(:error_summary) %>

        <div class="govuk-grid-row">
          <% if content_for?(:sidebar) %>
            <div class="govuk-grid-column-one-third">
              <%= yield(:sidebar) %>
            </div>
          <% end %>
          <div class="govuk-grid-column-two-thirds">
            <%= yield(:page_header) %>

            <%= yield %>
          </div>
        </div>
      </main>
    </div>

    <%= govuk_footer %>
  </body>
</html>
