<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body">
    <%= render partial: "layouts/shared/js_enabled" %>

    <%= govuk_skip_link %>

    <%= govuk_header(service_name: "GOV.UK Rails Boilerplate") do |header| %>
      <%= header.with_navigation_item(text: "Navigation item 1", href: "#", active: true) %>
      <%= header.with_navigation_item(text: "Navigation item 2", href: "#") %>
      <%= header.with_navigation_item(text: "Navigation item 3", href: "#") %>
    <% end %>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= yield %>
      </main>
    </div>

    <%= govuk_footer %>
  </body>
</html>
