<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body">
    <%= render partial: "layouts/shared/js_enabled" %>

    <%= govuk_skip_link %>

    <%= govuk_header(service_name: "GOV.UK Rails Boilerplate", html_attributes: { class: [environment_specific_header_colour_class] }) do |header| %>
      <%= header.with_navigation_item(text: "Navigation item 1", href: "#", active: true) %>
      <%= header.with_navigation_item(text: "Navigation item 2", href: "#") %>
      <%= header.with_navigation_item(text: "Navigation item 3", href: "#") %>
      <%= header.with_navigation_item(text: "Sign out", href: sign_out_path) if authenticated? %>
    <% end %>

    <div class="govuk-width-container">
      <%= environment_specific_phase_banner %>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">
            <%= yield(:page_header) %>

            <%= yield %>
          </div>
          <% if content_for?(:sidebar) %>
            <div class="govuk-grid-column-one-third">
              <%= yield(:sidebar) %>
            </div>
          <% end %>
        </div>
      </main>
    </div>

    <%= govuk_footer %>
  </body>
</html>
