<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <%= render partial: "layouts/shared/head" %>

  <body class="govuk-template__body">
    <%= render partial: "layouts/shared/js_enabled" %>

    <%= govuk_skip_link %>
    <%= govuk_header(full_width_border: true, html_attributes: { class: [environment_specific_header_colour_class] }) %>

    <%= render Navigation::PrimaryNavigationComponent.new(
      current_path: request.fullpath,
      is_authenticated: authenticated?
    ) %>

    <div class="govuk-width-container">
      <%= environment_specific_phase_banner %>
      <%= yield(:backlink_or_breadcrumb) %>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <% if flash[:notice] %>
          <%= govuk_notification_banner(title_text: "Important", text: flash[:notice]) %>
        <% end %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-caption-xl"><%= @school_name %></h3>
            <%= yield(:page_header) %>
          </div>
        </div>

        <%= yield %>
      </main>
    </div>

    <%= govuk_footer %>
  </body>
</html>
